version: '3.8'

services:
  catalog-db:
    image: postgres:15-alpine
    container_name: catalog_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: catalog_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Porta de comunicação
      - "15672:15672" # Interface visual (dashboard)
    user: guest
    password: guest
volumes:
  postgres_data: